* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .navBackground {
    filter: blur(7px) saturate(0);
    background: url(images/nav_background5.gif);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 80px;
  }
  nav {
    height: 80px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  .navBackground {
    filter: blur(7px) saturate(0) contrast(1);
    background: url("images/nav_background5.gif");
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 80px;
  }
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: larger;
    padding: 20px;
  
  }
  nav a input[type="image"] {
    vertical-align: middle;
}
  
  nav a:hover {
    color: #838383;
  }
  .logo {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }
  

  
  .hero {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.803)),url(images/container.jpg);
    background-size: cover;
    height: 800px;
    padding: 50px;
  
    
  }
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    padding: 20px 10px;
    white-space: nowrap;       /* Keeps the text on a single line */

  }
  
  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 40px;
  }
  
  .column-left p {
    margin-bottom: 2rem;
    font-size: 25px;
    line-height: 1.5;
  }
  
  button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s, color 0.3s;
  }
  
  button:hover {
    background: #fff;
    color: #000;
  }
  
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }


.column-right .logo{
  color: #ffffff;
  font-size: 40px;
  font-family:'Times New Roman', Times, serif;
  padding: 20px;
}
  
  .about {
    background:black;
    background-size: cover;
    height: 500px;
    padding: 10px;
  }
  
  .about-container {
    max-width: 100%;
    margin: 2%;
    padding: 10px;
    
  }
  
  .about-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 5%;
    color: white;
  }
  
  .about-container p {
    font-size: 25px;
    line-height: 1.6;
    color: #ffffff;
  }
  
  .services {
    background: #ffffff;
    padding: 10px;
  }
  
  .services-container {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .services-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

  }
  
  .service {
    display: flex;
    align-items: start baseline;
    margin-bottom: 2rem;
  }
  
  .service-icon {
    width: 200px;
    margin-right: 1rem;
    padding: 30px;
  }
  
  .service div {
    flex: 1;
  }
  
  .service h3 {
    font-size: 40px;
    margin-bottom: 1rem;
    color: #000;
  }
  
  .service p {
    font-size: 25px;
    line-height: 1.6;
    color: #555;
  }
  
  
  .Customer_feedback {
    padding: 4rem 0;
    background: #ffffff;
  }
  .Customer_feedback h2{
    font-size: 40px;
    
  }
  .Customer_feedback-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
  }
  
  .Customer_feedback-card {
    background: #cacaca;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  }
  
  .Customer_feedback-image {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .Customer_feedback-card p {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #000000;
  }
  
  .Customer_feedback-author {
    font-size: 25px;
    font-weight: bold;
    color: #000;
  }
  
 